<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="main-grid">
  <section style="grid-column: 1 / -1;">
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <!-- <mat-icon>menu</mat-icon> -->
        <mat-icon>more_vert</mat-icon>
      </button>
      <button mat-button class="example-icon" aria-label="Example icon-button with menu icon">
        <!-- <mat-icon>menu</mat-icon> -->
        Today
      </button>
      <button mat-icon-button (click)="moveMonth(-1)" class="example-icon"
        aria-label="Example icon-button with menu icon">
        <!-- <mat-icon>menu</mat-icon> -->
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button (click)="moveMonth(1)" class="example-icon"
        aria-label="Example icon-button with menu icon">
        <!-- <mat-icon>menu</mat-icon> -->
        <mat-icon>chevron_right</mat-icon>
      </button>
      <!-- <span>Today</span> -->
    </mat-toolbar>
  </section>
  <div class="left-nav">
    <mat-card>
      <mat-calendar #picker (viewChanged)="matCalendarViewChanged($event)" [selected]="dateControl.value"
        (selectedChange)="dateControl.setValue($event)"></mat-calendar>
    </mat-card>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput type="text" [formControl]="inputControl">
      @if (inputControl.value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="inputControl.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>

    <section class="example-section" [formGroup]="toppings" style="display: flex; flex-direction: column;">
      <mat-checkbox formControlName="requisition1">Requsition 1</mat-checkbox>
      <mat-checkbox formControlName="requisition2">Requsition 2</mat-checkbox>
      <mat-checkbox formControlName="requisition3">Requsition 3</mat-checkbox>
    </section>


    <pre>{{ combinedValues | json }}</pre>
  </div>

  <div>
    <div class="calendar">
      <!-- Days of the week -->
      <div class="day-header">Sun</div>
      <div class="day-header">Mon</div>
      <div class="day-header">Tue</div>
      <div class="day-header">Wed</div>
      <div class="day-header">Thu</div>
      <div class="day-header">Fri</div>
      <div class="day-header">Sat</div>

      <!-- Empty cells for padding -->

      @for (emptyDay of emptyDaysInMonth; track emptyDay) {
      <div class="day empty">
      </div>
      }

      <!-- Calendar days -->
      @for (day of daysInMonth; track day) {
      <!-- <button mat-button [matMenuTriggerFor]="contextMenu" #menuTrigger="matMenuTrigger"></button> -->
      <!-- <div matRipple class="day" (contextmenu)="openContextMenu($event, day)" [matMenuTriggerFor]="contextMenu"> -->

      <div matRipple class="day" (contextmenu)="openContextMenu($event, day)" [matMenuTriggerFor]="contextMenu">
        <span class="day-number">{{ day }}</span>
        <!-- <div [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (contextmenu)="openContextMenu($event, day)">
          Right-click here
        </div> -->
        @for (event of events; track event) {
        @if (isEventOnDay(day, event)) {
        <div class="event multi-day">
          {{ event.title }}
        </div>
        }

        }
      </div>
      }
      <!-- Hidden anchor to trigger the menu programmatically -->
      <!-- <button mat-button [matMenuTriggerFor]="contextMenu" #menuTrigger="matMenuTrigger"></button> -->
      <!-- Context Menu -->
      <mat-menu #contextMenu="matMenu">
        <button mat-menu-item (click)="onAddEvent(selectedDay)">Add Event</button>
        <button mat-menu-item (click)="onEditEvent(selectedDay)">Edit Event</button>
        <button mat-menu-item (click)="onDeleteEvent(selectedDay)">Delete Event</button>
      </mat-menu>

      <!-- <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onAddEvent(selectedDay)">Add Event</button>
        <button mat-menu-item (click)="onEditEvent(selectedDay)">Edit Event</button>
        <button mat-menu-item (click)="onDeleteEvent(selectedDay)">Delete Event</button>
      </mat-menu> -->


    </div>
  </div>



  <!-- <p>Selected date: {{ dateControl.value | date }}</p> -->




  <!-- Display the combined values -->

  <!-- <mat-divider></mat-divider> -->
  <router-outlet />
</div>